# bin and obj folders
**/bin/
**/obj/

# user-specific files
*.user
*.suo
*.cache

# logs
*.log
log/
logs/

# Visual Studio files
.vs/
*.vspscc
*.vssscc
*.ncb
*.sln.docstates

# NuGet
packages/
*.nupkg
*.pdb
*.xml